*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  background: #f3f6fb;
  color: #222;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header{
  background: linear-gradient(90deg, #004aad, #00b4d8);
  color: white;
  text-align: center;
  padding: 40px 20px;
}

.nav{
  background: #002855;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.nav a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 6px;
  transition: 0.3s;
}

.nav a:hover{
  background: rgba(255, 255, 255, 0.2);
}

.nav button{
  background: #00b4d8;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.main{
  width: 90%;
  max-width: 1200px;
  margin: 30px auto;
}

.sekcja{
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  text-align: center;
}

.sekcja h2, .sekcja h3{
  margin-bottom: 10px;
}

.uklad{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.przycisk{
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background: #004aad;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}

.footer{
  text-align: center;
  padding: 20px;
  background: #002855;
  color: white;
  margin-top: auto;
}

/*dlmode*/
body.dark{
  background: #121212;
  color: white;
}

body.dark .sekcja{
  background: #1f1f1f;
  color: white;
}

body.dark .nav{
  background: #000;
}

body.dark .przycisk{
  background: #00b4d8;
  color: black;
}

body.dark a {
  color: #00b4d8;
}

/*sekcje*/
.sekcjazagrozen, .sekcjazasad, .sekcjanet, .sekcjaquiz{
  background: rgba(68, 183, 255, 0.404);
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  padding-left: 50px;
  text-align: left;
}

.sekcjazrodla{
  background: #d3ff9a;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  padding-left: 50px;
  text-align: left;
  color: rgba(0, 124, 41, 0.911);
  text-align: center;
}
